
body{
    background-color: whitesmoke;
}

nav{
    background-color: darkblue;
}

nav a{
    color: whitesmoke;
}

header{
    background-color: darkblue;
}

header h2{
    color: whitesmoke;
}

.nav-pills > li.active {
    background-color: whitesmoke;
    color: red;
    border-radius: 5px;
}

.nav-pills > li.active > a {
    background-color: whitesmoke;
    color: red;
    border-radius: 5px;
}

.nav-pills > li.active > a:focus {
    background-color: whitesmoke;
    color: red;
    border-radius: 5px;
}

.nav-pills > li > a:hover {
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
}

.nav-pills > li.active > a:hover {
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
}

.dropdown a {
    font-size: 5em;
}

.large{
    font-size: xx-large;
}