/* 
    Document   : mystyle
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        Organize content for large screens.
*/
a{
    text-decoration: none;
    color:whitesmoke;
}
.blue{
    color: darkblue;
}
.white{
    color: whitesmoke;
}
body{
    background-color: whitesmoke;
}
.top{
    z-index: 1;
    position: relative;
    width: 99.5%;
    
    height: 100%;
    background-color: darkblue;
    
    text-align: center;
    color: whitesmoke;
}
.left{
    position: relative;
    float: left;
    
    width: 10%;
    
    height: 100%;
    background-color: darkblue;  
    text-align: center;
    color: whitesmoke;
}
.body{
    
    position: relative;
    float: right;
    
    width: 89%;
    height: 100%;
    
    
}
 
.highlight{
    color: red;
    text-decoration: underline;
}
.active{
    color: red;
}
.about{
    cursor:pointer;
}

.projects{
    cursor:pointer;
}
.TRP{
    cursor:pointer;
}
.GM{
    cursor:pointer;
}
.resume{
    cursor:pointer;
}
li{
    text-align: left;
}
#about{
    
}
#projects{
    
}
#TRP{
    
}
#GM{
    
}
#resume{
    
}
.notSmall{
    
}
img { 
    max-width: 100%; 
    height: auto; 
    width: 100%;
}