/* 
    Document   : mobile
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        organize screens for mobile phones with very small screens.
*/
a{
    text-decoration: none;
    
}
.blue{
    color: darkblue;
}
.white{
    color: whitesmoke;
}
body{
    background-color: whitesmoke;
}
.top{
    z-index: 1;
    position: relative;
    width: 99.5%;
    
    height: 100%;
    background-color: darkblue;
    
    text-align: center;
    color: whitesmoke;
}
#menu {
    position: relative;
    padding-left: 1.25em;
}
#menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.left{
    position: relative;
    float: top;

    width: 99.5%;


    height: 100%;
    background-color: darkblue;
    text-align: center;
    color: whitesmoke;
}
.body{
    
    position: relative;
    margin-left: 0px;
    float: left;
    
    
}


h3{
    display: inline;
}

.TRP{
    display: inline;
}
.GM{
    display: inline;
}

 
.highlight{
    color: red;
    text-decoration: underline;
}
.active{
    color: red;
}
.about{
    cursor:pointer;
}

.projects{
    cursor:pointer;
}
.TRP{
    cursor:pointer;
}
.GM{
    cursor:pointer;
}
.resume{
    cursor:pointer;
}
li{
    text-align: left;
}
#about{
    
}
#projects{
    
}
#TRP{
    
}
#GM{
    
}
#resume{
    
}
img { 
    max-width: 750px; 
    max-height: 750px;
    height: auto; 
    width: auto;
}



