/* 
    Document   : mystyle
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        Organize content for large screens.
*/
a{
    text-decoration: none;
    color:whitesmoke;
}
.blue{
    color: darkblue;
}
.white{
    color: whitesmoke;
}
body{
    background-color: whitesmoke;
}
.top{
    z-index: 1;
    position: relative;
    width: 99.5%;
    
    height: 100%;
    background-color: darkblue;
    
    text-align: center;
    color: whitesmoke;
}

.left{
    position: relative;
    float: left;
    z-index: 1;
    width: 150px;
    
    
    height: 100%;
    background-color: darkblue;  
    text-align: center;
    color: whitesmoke;
}
.body{

    position: absolute;
    margin-left: 160px;
    float: right;

}
 
.highlight{
    color: red;
    text-decoration: underline;
}
.active{
    color: red;
}
.about{
    cursor:pointer;
}

.projects{
    cursor:pointer;
}
.TRP{
    cursor:pointer;
}
.GM{
    cursor:pointer;
}
.resume{
    cursor:pointer;
}
.calendar{
    cursor:pointer;
}
li{
    text-align: left;
}

img { 
    max-width: 750px; 
    max-height: 750px;
    height: auto; 
    width: auto;
}


@media screen and (max-width: 768px) {
    /*I borrowed the 3 line menu from the website http://css-tricks.com/three-line-menu-navicon/*/
    #menu {
        position: relative;
        width:80.5%;
    }
    #menu:before {
        content: "";
        position: absolute;
        left: 0.25em;
        top: 0.25em;
        width: 1em;
        height: 0.15em;
        background: whitesmoke;
        box-shadow:
        0 0.25em 0 0 whitesmoke,
        0 0.5em 0 0 whitesmoke;
    }
    #menu {
        width:99.5%;
        display: block;
        background:darkblue;
        color: whitesmoke;
        font-size:3em;
        text-align: left;
        cursor: default;
    }
    #nav.js {
        display: none;


    }
    .body{

        position: absolute;
        margin-left: 10px;
        float: right;

    }
}

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
}
