<div><!--A short bio about me and my goals-->
    <p>
        My name is Taber Storm Fitzgerald and I am a programmer currently in school working towards a B.S. degree in Computer Science.
        I work part time as a Front End Software Developer Intern at <a href="http://www.build.com">build.com</a>.
        I am currently expanding my skill set by making a web-site, and have many goals for the future of this web-site.
        Eventually I would like this site to be able to share experiences and comment about thing I have done.
    </p>

    <p>
        This is a website that utilizes AngularJs's routing to create a dynamic single page application.
    </p>
    <p>Here is a list of plans I have.</p>
    <ul>
        <li>I will make this page pretty and interesting by adding graphics and more content.</li>
        <li>I will complete the Gm Tools and add it to the android marketplace and make it available for free with no adds.</li>
        <li>I will re-work some of my previous programs, expanding my TRP Adventure game and adding graphics.</li>
        <li>I will make an web-site based game that will be showcased and made available for play on this web-site.</li>
        <li>I will test with other languages such as Phython, and any others that may peak my interest.</li>
    </ul>
    <p>P.S. For those of you wondering about my favicon it holds my initials TSF. Its like a mini logo for me.</p>
</div>