<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<div><!--This houses the a description of the program and has pictures showing the program in use.-->
    <p> This is an android application that me and my partner Seth made
        as a class project.This is a crypto currency app that interfaces with the Cryptsy API.
        The app allows you to check your balances, order history, active orders, and allows you to place orders.
        This was done by interfacing with the Cryptsy website through HTTP post in the android's async tasks.
        It uses your key and secrete to authenticate, and these can be set using the QR scanner.
        This app has small banner adds.
    </p>

    <p>If you want the app, it can be found:</p>
    <a href='https://play.google.com/store/apps/details?id=com.Kalieki.CryptsyTrader'>Here</a>

    <p>Other projects include:</p>
    <ul>
        <li><a href="TRP.html">TRP</a></li>
        <li><a href="GM.html">GM Tools</a></li>
    </ul>

    <br>

    <div class="col-sm-12 col-md-4">
        <p>This is the view showing only the balances that one has set to preferred.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/prefBal.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>And now its all the markets! The list is scrollable.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/allBal.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>This shows ones order history; Also scrollable.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/allHist.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>This page displays your active orders</p>
        <img class="img-responsive img-rounded" src="images/androidProject/ordAct.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>View the recent market orders.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/ordMark.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Set up an order!</p>
        <img class="img-responsive img-rounded" src="images/androidProject/tradeMark.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Make the trade!</p>
        <img class="img-responsive img-rounded" src="images/androidProject/makeMark.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Set your key and secrete or change your preferred markets and coins.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/settings.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Set your key! These are save in your shared preferences.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/setKey.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Whats a key without a secrete!</p>
        <img class="img-responsive img-rounded" src="images/androidProject/setSecrete.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>What are the coins you commonly deal with.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/prefCoin.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Get your trading markets ready for easy access.</p>
        <img class="img-responsive img-rounded" src="images/androidProject/prefMark.png">
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Logo, made in paint. MAD skills</p>
        <img class="img-responsive img-rounded" src="images/androidProject/cryptsyTrader.png">
    </div>

</div>