<!--
    Document   : GM
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        This is a project of mine, it has its own page because it has many pictures and i 
dont want to slow down loading times as my website expands
-->
<div>

    <p>I have an app in progress for the Android Gm Tools.
        The tools will keep track of the characters initiative.
        It will store basic information about the characters.
        It will have a text random dice roller.</p>

    <p>Some other projects I have done:</p>
    <ul>
        <li><a href="#crypTrd">Cryptsy Trader</a></li>
        <li><a href="#tabersRolePlay">TRP</a></li>
    </ul>

</div>
