<!--
    Document   : index
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        The main website page this holds all the info so far. The content shown is chosen by the js file. My projects get there own HTML file due to all the pictures
-->
<div>
    <p>Taber Storm Fitzgerald</p>

    <p>I am currently working at <a href="http://www.build.com">build.com</a> as a Software Developer Intern</p>

    <p>In this position I:</p>
    <ul>
        <li>Write clean, modular and object-oriented code.</li>
        <li>Diagnose and fix bugs in several code bases and languages.</li>
        <li>Meet quality and specification requirements.</li>
        <li>Ability to work independently on projects and meet deadlines set forth by Team Leads.</li>
        <li>Develop code using a wide variety of libraries and frameworks.</li>
    </ul>
    <p>I have experienced programming in several languages and frameworks including:</p>
    <ul>
        <li>Java Script <span class="ion-social-javascript"></span></li>
        <li>AngularJs <span class="ion-social-angular"></span></li>
        <li>HTML 5 <span class="ion ion-social-html5"></span></li>
        <li>CSS 3 <span class="ion-social-css3"></span></li>
        <li>Sass <span class="ion-social-sass"></span></li>
        <li>Java <span class="ion-coffee"></span></li>
        <li>Android using Java and XML <span class="ion-social-android"></span></li>
        <li>Ruby on Rails <span class="octicon octicon-ruby"></span></li>
        <li>C++</li>
        <li>C#</li>
        <li>BackboneJs</li>
        <li>DustJs</li>
    </ul>
    <p>I am familiar with Windows, Mac, and Linux Operating Systems.</p>

    <p>I can be contacted via email at: tabersays@gmail.com</p>

    <p>Or by phone at 1-530-736-0613</p>
</div>
