<div><!--A short bio about me and my goals-->
    <p>
        This is the senior project I am working on for classes. It is going to be turn based online rpg written in
        JavaScript. It closely follows a MEAN stack structure. The server is NodeJs, and uses Express for the server API.
        AngularJs is used for the front end routing. The users and character data are stored in a MongoDB document.
    </p>
    <p>The projects progress can be viewed at <a href="http://www.TRPHeroes.com">www.TRPHeroes.com</a></p>
</div>